* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    font-size: 34px;
    text-transform: uppercase;
    border-bottom: 1px solid black;
}

/*h1 {
    text-decoration: line-through;
}*/

.input-section {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    gap: 20px;
}

.text-line {
    width: 500px;
    height: 30px;
    border-radius: 15px;
    padding-left: 10px;
}

.input-button {
    border-radius: 10px;
    padding: 0 30px;
    background-color: beige;
    text-transform: uppercase;
    font-weight: 900;
}

.list-section {
    padding-top: 40px;
}

.container {
    width: 900px;
    margin: 0 auto;
    border: 1px solid black;
    min-height: 70px;
    padding: 10px 20px;
    border-radius: 20px;
}

li {
    background-color: beige;
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: 26px;
    padding: 10px 10px;
    border-radius: 20px;
    align-items: center;
    margin-bottom: 10px;
}

.text-over {
    text-decoration: line-through;
}

span {
    font-size: 30px;
}