<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://kit.fontawesome.com/01f6bd7def.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <title>Document</title>
</head>
<body>
    
    <div id="app">
        <header class="app-header">
            <h1>Todolist</h1>
        </header>
        <main class="app-main">
            <section class="input-section">
                <input type="text" placeholder=".......inserisci un task" class="text-line" v-model="newTask.text">
                <button class="input-button" @click="addNewTask()">Aggiungi</button>
            </section>
            <section class="list-section">
                <div class="container">
                    <ul>
                        <li v-for="(task, index) in list" :key="index">
                            {{ task.text }}
                            <i class="fa-solid fa-xmark"></i>
                        </li>
                    </ul>
                </div>
            </section>
        </main>
    </div>

    <script src="./js/app.js"></script>
</body>
</html>